{{- $root := . -}}
{{- range $topic := .Values.kafka.topics }}
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  labels:
    strimzi.io/cluster: {{ $root.Values.kafka.kafkaCluster.clusterName }}
  name: {{ $topic.resourceName }}
  namespace: {{ $root.Values.global.namespace }}
spec:
  config: {}
  partitions: {{ $topic.partitions }}
  replicas: {{ $topic.replicas }}
  topicName: {{ $topic.topicName }}
---
{{- end }}