apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "processor-chart.fullname" . }}
  namespace: {{.Values.namespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: processor
  template:
    metadata:
      labels:
        app: processor
    spec:
      priorityClassName: high-priority
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image }}:{{ .Values.image_tag }}"
          env:
            - name: KAFKA_BOOTSTRAP_SERVER_URL
              value: {{ .Values.kafka_bootstrap_server }}
            - name: JAAS_CONFIG
              value: {{ .Values.kafka_jaas_config }}
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
